@{
  Layout = "_Layout";
}

@using Eateries.Models
@model Eateries.Models.Tag


<h2>Tag Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This tag doesn't belong to any restaurants.</p>
}

else
{
  <h4>Restaurants offering this cuisine:</h4>
  <ul>
    @foreach(RestaurantsTag join in Model.JoinEntities)
    {
      <li>@join.Restaurants.Name</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>